{% extends 'base.html' %}
{%load static%}
{% block title%}Medcare Appointment{%endblock%}
{% block content %}
<div class="container">
	<h2>Make New Appointment</h2><br>
	<!--================ appointment Area Starts =================-->
    <section class="appointment-area">
        <div class="container">
            <div class="appointment-inner">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                    	{% if messages %}
						    {% for message in messages %}
						    <div class="alert {{message.tags}}" role="alert">
						    	{{message}}
						    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								    <span aria-hidden="true">&times;</span>
								</button>
							</div>
						    {% endfor %}
						{% endif %}
                        <div class="appointment-form">
                            <form action="/bookAppointment" method="POST">
                            	{% csrf_token %}
                            	<div class="row">
                            		<div class="col-lg-6">
                            			<div class="form-group">
		                                    <label>Full Name</label>
		                                    <input type="text" placeholder="Your Name" name="name" onfocus="this.placeholder = ''" value="{{form.name}}" onblur="this.placeholder = 'Your Name'" required>
		                                </div>
                            		</div>
                            		<div class="col-lg-6">
                            			 <div class="form-group">
		                                    <label>IC Number</label>
		                                    <input type="text" placeholder="Your NRIC" name="NRIC" onfocus="this.placeholder = ''" value="{{form.NRIC}}" onblur="this.placeholder = 'Your NRIC'" required> 
		                                </div>
                            		</div>
                            	</div><div class="row">
                            		<div class="col-lg-6">
                            			<div class="form-group">
		                                    <label>Email</label>
		                                    <input type="email" placeholder="Your Email" name="email" onfocus="this.placeholder = ''" value="{{form.email}}" onblur="this.placeholder = 'Your Email'" required>
		                                </div>
                            		</div>
                            		<div class="col-lg-6">
                            			<div class="form-group">
		                                    <label>Phone Number</label>
		                                    <input type="tel" placeholder="Your Phone Number" name="phone" onfocus="this.placeholder = ''" value="{{form.phone}}" onblur="this.placeholder = 'Your Phone Number'" required> 
		                                </div>
                            		</div>
                            	</div>
                            	<div class="row">
                            		<div class="col-lg-6">
                            			<div class="form-group">
		                                    <label>Date</label>
		                                    <input type="date" class="date-input" name="date" value="{{ date }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required>
		                                </div>
                            		</div>
                            		<div class="col-lg-6">
                            			 <div class="form-group">
		                                    <label>Time</label>
		                                    <select id="time" name="time" class="form-control" style="display: block; height: 50px; padding: 0 15px; border: 1px solid #e8edf1;">
												<option value="09:00-10:00">09:00-10:00</option>
												<option value="10:00-11:00">10:00-11:00</option>
												<option value="11:00-12:00">11:00-12:00</option>
												<option value="12:00-13:00">12:00-13:00</option>
												<option value="13:00-14:00">13:00-14:00</option>
												<option value="14:00-15:00">14:00-15:00</option>
												<option value="15:00-16:00">15:00-16:00</option>
												<option value="16:00-17:00">16:00-17:00</option>
												<option value="17:00-18:00">17:00-18:00</option>
											</select>
		                                </div>
                            		</div>
                                <button type="submit" class="main_btn">Submit Appointment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br>
    <!--================ appointment Area End =================-->
	
</div>

{% endblock %}