{% extends 'base.html' %}
{%load static%}
{% block title%}Medcare Contact{%endblock%}
{% block content %}
 
 <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Contact</h2>
              <p>Belding years moveth earth green behold wherein</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="contact.html">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    
    {% if message_name %}
        <br><br><br>
        <center>
            <h2>Thanks {{message_name}}</h2>
            <p>We received your email and response shortly...</p>
        </center><br><br><br>
    
    {% else %} 
         <!-- ================ contact section start ================= -->
          <section class="contact-section area-padding">
            <div class="container">
              <div class="d-none d-sm-block mb-5 pb-4">
                <div id="map"></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.4881239402102!2d101.79807895967315!3d2.9796528436433793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd67623ac647c0f68!2sTiara%20Park%20Homes!5e0!3m2!1sen!2smy!4v1585687184280!5m2!1sen!2smy" height="470" style="border:0;" width="100%">
                    </iframe>
              </div>

              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Get in Touch</h2>
                </div>
                <div class="col-lg-8">
                  <form action="{% url 'contact' %}" class="form-contact contact_form"  method="POST" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Enter Message"></textarea>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name" value="{{message_name}}">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <button type="submit" class="button button-contactForm">Send Message</button>
                    </div>
                  </form>
                </div>

                <div class="col-lg-4">
                  <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                      <h3>Buttonwood, California.</h3>
                      <p>Rosemead, CA 91770</p>
                    </div>
                  </div>
                  <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                      <h3><a href="tel:454545654">00 (440) 9865 562</a></h3>
                      <p>Mon to Fri 9am to 6pm</p>
                    </div>
                  </div>
                  <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                      <h3><a href="mailto:support@colorlib.com">support@colorlib.com</a></h3>
                      <p>Send us your query anytime!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
  <!-- ================ contact section end ================= -->
    {% endif %}

{% endblock %}
